@inherits RazorTemplateFolderHost<IEnumerable<Apartman>>
<root><dictionary>
<prop>tip</prop><prop>Broj_soba</prop><prop>Broj_gostiju</prop><prop>lokacija</prop><prop>Cena_po_noci</prop><prop>Vreme_za_prijavu</prop><prop>Vreme_za_odjavu</prop><prop>status</prop><prop>Obrisan</prop></dictionary>
<values>
@foreach(var item in Model){
@RenderPartial("~/Apartman_XML_item.cshtml",item);
}
</values>
</root>
