@inherits RazorTemplateFolderHost<Apartman>
<item>
<tip>@Model.tip</tip><Broj_soba>@Model.Broj_soba</Broj_soba><Broj_gostiju>@Model.Broj_gostiju</Broj_gostiju><lokacija>@Model.lokacija</lokacija><Cena_po_noci>@Model.Cena_po_noci</Cena_po_noci><Vreme_za_prijavu>@Model.Vreme_za_prijavu</Vreme_za_prijavu><Vreme_za_odjavu>@Model.Vreme_za_odjavu</Vreme_za_odjavu><status>@Model.status</status><Obrisan>@Model.Obrisan</Obrisan></item>
