@inherits RazorTemplateFolderHost<IEnumerable<Korisnik>>
<root><dictionary>
<prop>Korisnicko_ime</prop><prop>Lozinka</prop><prop>Ime</prop><prop>Prezime</prop><prop>Pol</prop><prop>Uloga</prop></dictionary>
<values>
@foreach(var item in Model){
@RenderPartial("~/Korisnik_XML_item.cshtml",item);
}
</values>
</root>
