@inherits RazorTemplateFolderHost<Korisnik>
<item>
<Korisnicko_ime>@Model.Korisnicko_ime</Korisnicko_ime><Lozinka>@Model.Lozinka</Lozinka><Ime>@Model.Ime</Ime><Prezime>@Model.Prezime</Prezime><Pol>@Model.Pol</Pol><Uloga>@Model.Uloga</Uloga></item>
