﻿
@{
    ViewBag.Title = "IzmenaApartmana";
}
<form method="post" action="~/Host/SacuvajIzmene">
    <table>
        <tr>
            <td>Latitude</td>
            <td><input type="number" step="0.1" name="Duzina" value="@ViewBag.Apartman.lokacija.Duzina" required /></td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td><input type="number" step="0.1" name="Sirina" value="@ViewBag.Apartman.lokacija.Sirina" required /></td>
        </tr>
        <tr>
            <td>Street adress</td>
            <td><input type="text" name="Ulica" value="@ViewBag.Apartman.lokacija.adresa.Ulica" required /></td>
        </tr>
        <tr>
            <td>Place</td>
            <td><input type="text" name="Mesto" value="@ViewBag.Apartman.lokacija.adresa.Mesto" required /></td>
        </tr>
        <tr>
            <td>Postal code</td>
            <td><input type="number" name="PostanskiBroj" value="@ViewBag.Apartman.lokacija.adresa.Posta" required /></td>
        </tr>
        <tr>
            <td>Number of rooms</td>
            <td><input type="number" step="0.5" name="BrojSoba" value="@ViewBag.Apartman.Broj_soba" required /></td>
        </tr>
        <tr>
            <td>Number of guests per room</td>
            <td><input type="number" name="BrojGostiju" value="@ViewBag.Apartman.Broj_gostiju" required /></td>
        </tr>
        <tr>
            <td>Type of apartment</td>
            <td>
                <select name="Tipovi" value="@ViewBag.Apartman.tip">
                    <option value="ceo">Full apartment</option>
                    <option value="soba">Room</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" step="0.1" name="Cena" value="@ViewBag.Apartman.Cena_po_noci" required /></td>
        </tr>
        <tr>
            <td>Available date from</td>
            <td><input type="date" step="0.1" name="DatumDostupnostiOD" value="@ViewBag.Apartman.Datumi_za_izdavanje[0].ToString("dd/MM/yyyy")" required /></td>
        </tr>
        <tr>
            <td>Available date to</td>
            <td><input type="date" step="0.1" name="DatumDostupnostiDO" value="@ViewBag.Apartman.Dostupnost_po_datumima[ViewBag.Apartman.Dostupnost_po_datumima.Count-1].AddDays(1)" required /></td>
        </tr>

        <tr>
            <td>Start time to sign in</td>
            <td><input type="time" name="pocetakp" value="@ViewBag.Apartman.Vreme_za_prijavu" required/></td>
        </tr>
        <tr>
            <td>End time to sign in</td>
            <td><input type="time" name="krajp" value="@ViewBag.Apartman.Vreme_za_odjavu" required/></td>
        </tr>
    </table>
    }
    @if (ViewBag.Slike != null)
    {
        foreach (var item in ViewBag.Slike)
        {
            <img src="@item" width="150" />
        }
    }
    <input type="submit" value="Submit" />
</form>

