﻿
@{
    ViewBag.Title = "KomentarDomacin";
}
<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Host/VratiNaDomacin">Back</a></li>
    </ul>
</nav>
<div>
    <table>
        <tr>
            <td>
                Guest:
            </td>
            <td>
                Comment:
            </td>
            <td>
                Mark:
            </td>
        </tr>
        @{
            foreach (Komentar item in ViewBag.Komentar)
            {
                <tr>
                    <td>
                        @item.Gost_komentar
                    </td>
                    <td>
                        @item.Tekst
                    </td>
                    <td>
                        @item.Ocena

                    </td>
                    <td>
                        <form method="post" action="~/Host/KomentarPrikaz">
                            <input type="hidden" value="@item.Id" name="Id" />
                            <input type="submit" value="Prikaz" />
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
</div>

