﻿
@{
    ViewBag.Title = "SadrzajDomacin";
}
<form method="post" action="~/Host/SacuvajIzmeneAmeniti">
    <table>
        @{
            foreach (var item in ViewBag.Ameniti)
            {
                foreach (var item1 in item.Value)
                {
                    bool p = false;
                    foreach (var item2 in ViewBag.sadrzaj)
                    {
                        if (item1.Naziv == item2.Naziv)
                        {
                            p = true;
                        }
                    }
                    if (p == true)
                    {
                        <tr>
                            <td>@item1.Naziv</td>
                            <td>
                                <input type="checkbox" name="@item1.Naziv" checked />
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item1.Naziv</td>
                            <td>
                                <input type="checkbox" name="@item1.Naziv" />
                            </td>
                        </tr>
                    }
                }
            }
        }
    </table>
    <input type="submit" value="Save" />
</form>