﻿
@{
    ViewBag.Title = "Administrator";
}
<head>
    <style>
        td {
            padding-bottom: 20px;
        }
        .promena {
            min-width: 120px;
            margin-bottom: 20px;
        }
            .promena:hover {
                background-color: #ce0606;
            }
        a {
            float: right;
        }
        img {
            width: 32px;
            height: 32px;
        }
        .register {
            margin-top: 10px;
            position: absolute;
            top: 62%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            color: black;
            padding: 1em 1.5em;
            text-decoration: none;
            text-transform: uppercase;
        }
            .register:hover {
                text-decoration: none;
                color: black;
                background-color: #ce0606;
            }
       
    </style>
</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Index/ListaApartmana">Apartments</a></li>
        <li><a href="~/Index/ListaRezervacije">Reservations</a></li>
        <li><a href="~/Index/ListaAmenities">Amenities</a></li>
        <li><a href="~/Index/PrikaziSveKomentareAdmin">Comments</a></li>
    </ul><!-- .menu -->
</nav><!-- .navigation -->
<h1 align="right">Welcome @ViewBag.Ime!</h1>
<div class="div-change">
    <a href="~/Index/Change?opcija=Admin"><img src="~/Picture/podesavanja.png" /></a>
</div>
@{ if (ViewBag.Ispravno == "Accept")
    {
        <p>Host added suscesfuly!</p>
    }
}
@{ if (ViewBag.ListKorisnika != null)
    {
        foreach (var item in ViewBag.ListKorisnika)
        {
            if (item.Uloga == Uloga.Domacin)
            {
                <p style="color:blue">@item.Korisnicko_ime</p>
            }
            else if (item.Uloga == Uloga.Gost)
            {
                <p style="color:black">@item.Korisnicko_ime</p>
            }
            else
            {
                <p style="color:orangered">@item.Korisnicko_ime</p>
            }
        }
        <a class="register" href="~/Index/VracanjeUAdmin">Back</a>
        <div style="background-color:black; color:white;position:absolute;top:265px;left:80%;width:14%;height:55%">
            <h2>Search</h2>
            <form action="~/Index/PretrazivanjeUsera" method="post">
                <div style="position:relative;left:5%">
                    Role:<br />
                    <div style="position:absolute;left:20%">
                        <input type="radio" name="Uloga" value="Administrator" /> Admin<br />
                        <input type="radio" name="Uloga" value="Domacin" /> Host<br />
                        <input type="radio" name="Uloga" value="Gost" /> Visitor<br />
                    </div>
                </div>
                <br />
                <div style="position:relative;left:5%;top:50px">
                    Genre:<br />
                    <div style="position:absolute;left:20%">
                        <input type="radio" name="Polovi" value="Musko" /> Man<br />
                        <input type="radio" name="Polovi" value="Zensko" /> Woman<br />
                    </div>
                </div>
                <br />
                <div style="position:relative;left:5%;top:80px">
                    Username:
                    <input type="text" name="User" />
                </div>
                <div style="position:relative;left:5%;top:85px"><input type="submit" value="Search" /></div>
            </form>
        </div>
    }
}
@{if (ViewBag.Change == "Ready")
    {
        <form method="post" action="~/Index/DoWork">
            <input class="promena" type="submit" name="Promeni" value="Change" />
            <input class="promena" type="hidden" name="option" value="Admin" />
        </form>
        <form method="post" action="~/Index/LogOut">
            <input class="promena" type="submit" name="Promeni" value="LogOut" />
            <input class="promena" type="hidden" name="option" value="Admin" />
        </form>
        <div align="center">
            <a class="register" href="~/Index/VracanjeUAdmin">Back</a>
        </div>
    }
}
@{
    if (ViewBag.User != null)
    {
        <form method="post" action="~/Index/Changes">
            <table>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        <input type="text" value="@ViewBag.User.Korisnicko_ime" name="Korisnicko_ime" required/>
                        @{
                            if (ViewBag.Exists == "Accept")
                            {
                                <p>Username taken!</p>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" value="@ViewBag.User.Lozinka" name="Lozinka" required/>
                    </td>
                </tr>
                <tr>
                    <td>
                        First name
                    </td>
                    <td>
                        <input type="text" value="@ViewBag.User.Ime" name="Ime" required/>

                    </td>
                </tr>
                <tr>
                    <td>
                        Last name
                    </td>
                    <td>
                        <input type="text" value="@ViewBag.User.Prezime" name="Prezime" required/>
                    </td>
                </tr>
                <tr>
                    <td>Choose your gender</td>
                    <td>
                        <select name="Pol">
                            <option value="Musko">Man</option>
                            <option value="Zensko">Woman</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="Submit" value="Save" /></td>
                </tr>
            </table>
        </form>                         
                            }
}
<form method="post" action="~/Index/AdminOpcije">
    <table align="left">
        <tr>
            <td>
                <input class="promena" type="submit" name="Submit" value="List of users" />
            </td>
        </tr>
        <tr>
            <td>
                <input class="promena" type="submit" name="Submit" value="Add Host" />
            </td>
        </tr>
    </table>
</form>

