﻿
@{
    ViewBag.Title = "DetaljiApartmanaGost";
}

<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Index/VratiUGostIzKomentara">Back</a></li>
    </ul>
</nav>
<table>
    <tr>
        <td>
            @{ if (ViewBag.GostAPARTMAN.Slike != null)
                {<img src="@ViewBag.GostAPARTMAN.Slike[0]" width="200" />
                }
            }
        </td>
    </tr>
    <tr>
        <td>
            Sirina: @ViewBag.GostAPARTMAN.lokacija.Sirina
        </td>
        <td>
            Duzina:@ViewBag.GostAPARTMAN.lokacija.Duzina
        </td>
        <td>
            Ulica:@ViewBag.GostAPARTMAN.lokacija.adresa.Ulica
        </td>
        <td>
            Posta:@ViewBag.GostAPARTMAN.lokacija.adresa.Posta
        </td>
        <td>
            Tip:@ViewBag.GostAPARTMAN.tip.ToString()
        </td>
        <td>
            Broj Soba:@ViewBag.GostAPARTMAN.Broj_soba
        </td>
        <td>
            Broj gostiju:@ViewBag.GostAPARTMAN.Broj_gostiju
        </td>
        <td>
            Lokacija:@ViewBag.GostAPARTMAN.lokacija
        </td>
        <td>
            Identifikacija:@ViewBag.GostAPARTMAN.Identifikacija
        </td>
        <td>
            Cena po noci:@ViewBag.GostAPARTMAN.Cena_po_noci
        </td>

    </tr>

</table>
@{ if (ViewBag.DozvolaZaBook != null)
    {
        <div>
            <table>
                <tr><td><form method="post" action="~/Calendar/PrethodniM"> <input type="submit" value="<" style="min-width:40px" /></form></td><td colspan="5" style="text-align:center"><b>@ViewBag.mesec</b></td><td><form method="post" action="~/Calendar/SledeciM"><input type="submit" style="min-width:40px" value=">" /></form></td></tr>
                <tr>
                    <td style="text-align:center">Mo</td>
                    <td style="text-align:center">Tu</td>
                    <td style="text-align:center">We</td>
                    <td style="text-align:center">Th</td>
                    <td style="text-align:center">Fr</td>
                    <td style="text-align:center">Sa</td>
                    <td style="text-align:center">Su</td>
                </tr>
                @{
                    int i = 0;
                    for (i = 0; i < (ViewBag.dana + ViewBag.pocetak) / 7; i++)
                    {

                        <tr>
                            @{ if (ViewBag.pocetak != null && ViewBag.pocetak != 0 && i == 0)
                                {
                                    for (int z = 0; z < ViewBag.pocetak; z++)
                                    {
                                        <td></td>
                                    }
                                }
                                for (int j = (i == 0) ? ViewBag.pocetak : 0; j < 7; j++)
                                {
                                    int k = i * 7 + j + 1 - ViewBag.pocetak;
                                    if (ViewBag.dozvoljeni < k)
                                    {
                                        <td style="min-width:40px"><form method="post" action="~/Calendar/Zabelezi"> <input type="hidden" name="DAN" value="@k" /><input type="submit" value="@k" style="min-width:40px" /></form></td>
                                    }
                                    else
                                    {
                                        <td style="min-width:40px"><div style="text-align:center;">@k</div></td>
                                    }
                                }
                            }
                        </tr>
                                }
                                <tr>
                                    @{ for (int j = 0; j < (ViewBag.dana + ViewBag.pocetak) % 7; j++)
                                        {
                                            int k = i * 7 + j + 1 - ViewBag.pocetak;
                                            if (ViewBag.dozvoljeni < k)
                                            {
                                                <td style="min-width:40px"><form method="post" action="~/Calendar/Zabelezi"> <input type="hidden" name="DAN" value="@k" /><input type="submit" value="@k" style="min-width:40px" /></form></td>
                                            }
                                            else
                                            {
                                                <td style="min-width:40px"><div style="text-align:center;">@k</div></td>
                                            }
                                        }
                                    }
                                </tr>
                }
            </table>
        </div>
        <form action="~/Calendar/Rezervisi"><input type="submit" value="Book" /></form>
                                        }
}
@{
    if (ViewBag.Dozvola != null)
    {
        <form action="~/Index/NapraviKomentar" method="post">
            <table>
                <tr>
                    <td><input type="text" name="Tekst" style="width:400px;height:60px" /></td>
                    <td>
                        <select name="Ocena">
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                    <td><input type="hidden" name="id" value="@ViewBag.apartmanID" /><input type="submit" value="Comment" /></td>
                </tr>
            </table>
        </form>
    }
}
<table>
    <tr>
        <td>
            Guest:
        </td>
        <td>
            Comment:
        </td>
        <td>
            Mark:
        </td>
    </tr>
    @{ foreach (Komentar item in ViewBag.Komentari)
        {
            <tr>
                <td>
                    @item.Gost_komentar
                </td>
                <td>
                    @item.Tekst
                </td>
                <td>
                    @item.Ocena
                </td>
            </tr>
        }
    }
</table>