﻿
@{
    ViewBag.Title = "DetaljiApartmanaNeulogovan";
}
<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Index/VratiUPocetnaIzKomentara">Back</a></li>
    </ul>
</nav>
<table>
    <tr>
        <td>
            @{ if (ViewBag.APARTMAN.Slike != null)
                {<img src="@ViewBag.APARTMAN.Slike[0]" width="200" />
                }
            }
        </td>
    </tr>
    <tr>
        <td>
            Sirina: @ViewBag.APARTMAN.lokacija.Sirina
        </td>
        <td>
            Duzina:@ViewBag.APARTMAN.lokacija.Duzina
        </td>
        <td>
            Ulica:@ViewBag.APARTMAN.lokacija.adresa.Ulica
        </td>
        <td>
            Posta:@ViewBag.APARTMAN.lokacija.adresa.Posta
        </td>
        <td>
            Tip:@ViewBag.APARTMAN.tip.ToString()
        </td>
        <td>
            Broj Soba:@ViewBag.APARTMAN.Broj_soba
        </td>
        <td>
            Broj gostiju:@ViewBag.APARTMAN.Broj_gostiju
        </td>
        <td>
            Lokacija:@ViewBag.APARTMAN.lokacija
        </td>
        <td>
            Identifikacija:@ViewBag.APARTMAN.Identifikacija
        </td>
        <td>
            Cena po noci:@ViewBag.APARTMAN.Cena_po_noci
        </td>

    </tr>

</table>

<table>
    <tr>
        <td>
            Guest:
        </td>
        <td>
            Comment:
        </td>
        <td>
            Mark:
        </td>
    </tr>
    @{ foreach (Komentar item in ViewBag.Komentari)
        {
            <tr>
                <td>
                    @item.Gost_komentar
                </td>
                <td>
                    @item.Tekst
                </td>
                <td>
                    @item.Ocena
                </td>
            </tr>
        }
    }
</table>