﻿
@{
    ViewBag.Title = "Gost";
}
<head>
    <style>
        input {
            min-width: 120px;
            margin-bottom: 20px;
        }
            input:hover {
                background-color: #ce0606;
            }
        .pretraga input {
            min-width: 120px;
            margin-bottom: 20px;
        }
            .pretraga input:hover {
                background-color: #F0F8FF;
            }
        img {
            width: 32px;
            height: 32px;
        }
    </style>
</head>

<h1 align="right">Welcome @ViewBag.Ime!</h1>
<div class="div-change">
    <a href="~/Index/Change?opcija=Gost"><img src="~/Picture/podesavanja.png" /></a>
</div>
@{if (ViewBag.Change == "Ready")
    {
        <form method="post" action="~/Index/DoWork">
            <input type="submit" name="Promeni" value="Change" />
            <input type="hidden" name="option" value="Gost" />
        </form>
        <form method="post" action="~/Index/LogOut">
            <input type="submit" name="Promeni" value="LogOut" />
            <input type="hidden" name="option" value="Gost" />
        </form>
        <div align="center">
            <a class="register" href="~/Index/VracanjeUGost">Back</a>
        </div>
    }
}
<form method="post" action="~/Index/ListaRezervacijeGost">
    <input type="submit" name="Submit" value="Reservations" />
</form>
@{
    if (ViewBag.User != null)
    {
        <form method="post" action="~/Index/Changes">
            <table>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        <input type="text" value="@ViewBag.User.Korisnicko_ime" name="Korisnicko_ime" required/>
                        @{
                            if (ViewBag.Exists == "Accept")
                            {
                                <p>Username taken!</p>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" value="@ViewBag.User.Lozinka" name="Lozinka" required/>

                    </td>
                </tr>
                <tr>
                    <td>
                        First name
                    </td>
                    <td>
                        <input type="text" value="@ViewBag.User.Ime" name="Ime"required />

                    </td>
                </tr>
                <tr>
                    <td>
                        Last name
                    </td>
                    <td>
                        <input type="text" value="@ViewBag.User.Prezime" name="Prezime" required/>

                    </td>
                </tr>
                <tr>
                    <td>Choose your gender</td>
                    <td>
                        <select name="Pol">
                            <option value="Musko">Man</option>
                            <option value="Zensko">Woman</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="Submit" value="Save" /></td>
                </tr>
            </table>
        </form>
                            }
}
<table>
    @{
        int brojac = 0;
        foreach (Apartman item in ViewBag.Apartmani)
        {
            if (item.Obrisan == false)
            {
                if (item.status == Status.Aktivan)
                {
                    <tr>
                        <td>
                            @{ if (item.Slike != null)
                        {<img style="width:300px;height:300px" src="@item.Slike[0]" width="200" />
                                }
                            }
                        </td>
                        <td style="vertical-align:middle">
                            <table style="height:100%;">
                                <tr><td>@item.lokacija.adresa.Ulica</td>  </tr>
                                <tr> <td>@item.lokacija.adresa.Mesto , @item.lokacija.adresa.Posta</td></tr>
                                <tr><td>@item.lokacija , @item.lokacija.Sirina</td>  </tr>
                            </table>

                        </td>
                        <td>
                            <form method="post" action="~/Index/GostDetalji">
                                <input type="hidden" name="Id" value="@item.Identifikacija" />
                                <input type="submit" value="Detalji" />
                            </form>
                        </td>
                    </tr>
                                            brojac++;
                                        }
                                    }
                                }
                                if (brojac == 0)
                                {
                                    <h2>There are no active apartments/rooms</h2>
                                }
    }
</table>
<div class="dropdown">
    @{
        int p = 0;
        foreach (var item in ViewBag.sadrzaj)
        {
            string pp = p + "px";
            <button class="dropbtn" style="min-width:95px;left:@pp">@item.Key</button>
            <div class="dropdown-content">
                @{
                    foreach (var item1 in item.Value)
                    {
                        <a href="~/Index/FilterGost?Naziv=@item1.Naziv">@item1.Naziv</a>
                    }
                }
            </div>
                        p = p + 95;
                    }
    }
</div>
<div class="pretraga" style="background-color:black ; color:white;  position:absolute;top:265px;left:80%">
    <form method="post" action="~/Index/PretragaDugmeGost">
        Location:<br />
        <input type="text" name="Mesto" />
        <br />
        Price:<br />
        From:<input type="text" name="OdCene" style="max-width:80px" />&nbsp;To:<input type="text" name="DoCene" style="max-width:80px" />
        <br />
        Num of rooms:<br />
        From:<input type="text" name="OdSobe" style="max-width:80px" />&nbsp;To:<input type="text" name="DoSoba" style="max-width:80px" />
        <br />
        Num of guests:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="BrOsoba" style="max-width:80px" />
        <br />
        Sort by price:
        <br /><input type="radio" name="sort" value="yes" /> Raising &nbsp;&nbsp;
        </br><input type="radio" name="sort" value="no" />Failling <br />
        <input type="submit" value="Search" />
    </form>
    <a style="text-decoration:none; color:white; float:left;" href="~/Index/FilterGost?Naziv=Apartment">Apartment</a>
    <a style="text-decoration:none; color:white;" href="~/Index/FilterGost?Naziv=Room">Room</a>
</div>