﻿
@{
    ViewBag.Title = "KomentarAdmin";
}

<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Index/VratiUAdmin">Users</a></li>
        <li><a href="~/Index/ListaApartmana">Apartments</a></li>
        <li><a href="~/Index/ListaRezervacije">Reservations</a></li>
        <li><a href="~/Index/ListaAmenities">Amenities</a></li>

    </ul><!-- .menu -->
</nav><!-- .navigation -->
<div>
    <table>
        <tr>
            <td>
                Guest:
            </td>
            <td>
                Comment:
            </td>
            <td>
                Mark:
            </td>
        </tr>
        @{
            foreach (Komentar item in ViewBag.Komentar)
            {
                <tr>
                    <td>
                        @item.Gost_komentar
                    </td>
                    <td>
                        @item.Tekst
                    </td>
                    <td>
                        @item.Ocena

                    </td>
                    <td>
                        <form method="post" action="~/Index/KomentarPrikaz">
                            <input type="hidden" value="@item.Id" name="Id" />
                            <input type="submit" value="Prikaz" />
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
</div>
