﻿
@{
    ViewBag.Title = "ListaRezervacijeIndex";
}
<head>
    <style>
        a {
            float: right;
        }

        .navigation {
            line-height: 1;
        }
            .navigation .menu a, li {
                display: block;
            }
            .navigation .menu a {
                text-decoration: none;
                color: currentColor;
                padding: 1em;
            }
            .navigation .menu li {
                border-style: solid;
                border-width: 0 0 1px;
            }
        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            left: 90px;
            top: 0px;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
                .dropdown-content a:hover {
                    background-color: black;
                    color: white;
                }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover .dropbtn {
            background-color: black;
        }
    </style>
</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Index/VratiUGosta">Back</a></li>
    </ul>
</nav>
<div style="position:absolute;top:70px;left:40px">
    <table>
        @{if (ViewBag.rezervacija != null)
            {
                for (int i = 0; i < ViewBag.rezervacija.Count; i++)
                {
                    <tr>

                        <td>Begining of booking: @ViewBag.rezervacija[i].Pocetak.ToString("dd/MM/yyyy") </td>
                        <td>Nummber of nights: @ViewBag.rezervacija[i].Nocenje </td>
                        <td>Price: @ViewBag.rezervacija[i].UkupnaCena</td>
                        <td>
                            @{if (ViewBag.opcija[i] == 1)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Created</button>
                                        <div class="dropdown-content">
                                            <a href="~/Index/PrStatusaRezervacijeGost?vrednost=Odustanak&id=@ViewBag.rezervacija[i].ID">Cancel</a>

                                        </div>
                                    </div>
                                }
                                else if (ViewBag.opcija[i] == 2)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Accepted</button>
                                        <div class="dropdown-content">
                                            <a href="~/Index/PrStatusaRezervacijeGost?vrednost=Odustanak&id=@ViewBag.rezervacija[i].ID">Cancel</a>
                                        </div>
                                    </div>
                                }
                                else if (ViewBag.opcija[i] == 3)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Reject</button>
                                        <div class="dropdown-content">
                                        </div>
                                    </div>
                                }
                                else if (ViewBag.opcija[i] == 4)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Canceled</button>
                                        <div class="dropdown-content">
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Finished</button>
                                        <div class="dropdown-content">

                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                                    }
                                }
        }
    </table>
</div>

