﻿
@{
    ViewBag.Title = "ListaAmenities";
}

<head>
    <style>
        td {
            padding-bottom: 20px;
        }
        .izbor {
            position: absolute;
        }
    </style>
</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Index/VratiUAdmin">Users</a></li>
        <li><a href="~/Index/ListaApartmana">Apartments</a></li>
        <li><a href="~/Index/ListaRezervacije">Reservations</a></li>
        <li><a href="~/Index/ListaAmenities">Amenities</a></li>

    </ul><!-- .menu -->
</nav><!-- .navigation -->
<div class="izbor">
    @{if (ViewBag.promena == null)
        {
            int p = 20;

            foreach (var item in ViewBag.liste)
            {
                string pp = p.ToString() + "px";
                <div style="position:absolute;top:70px;left:@pp">
                    <table>
                        <tr><th colspan="2"><b>@item.Key</b></th></tr>
                        @{
                            for (int i = 0; i < item.Value.Count; i++)
                            {
                                <tr>
                                    <td>@item.Value[i].Naziv</td>
                                    <td><div style="max-width:60px"><form method="post" action="~/Index/ObrisiPojedinacno"><input type="hidden" name="Naziv" value="@item.Value[i].Naziv" /><input type="submit" style="background-image:url(../../Images/download.jpg);background-size:100%" value="" /></form></div></td>
                                </tr>
                            }
                        }

                    </table>
                    <form method="post" action="~/Index/DodavanjeSadrzaja">
                        <table style="width:200px">
                            <tr><td><input type="text" name="Naziv" style="max-width:90px" required /></td><td><input type="text" name="Opis" style="max-width:90px" /></td></tr>
                            <tr>
                                <td><input type="hidden" value="@item.Key" name="Kljuc" /><input type="submit" value="Add" /></td>
                            </tr>
                        </table>
                    </form>
                    <form method="post" action="~/Index/PromeniAmeniti">
                        <table>
                            <tr>

                                <td><input type="hidden" value="@item.Key" name="Kljuc"><input type="submit" value="Change" /></td>
                            </tr>
                        </table>
                    </form>

                </div>
                                    p = p + 300;
                                }
                            }
                            else
                            {
                                <form method="post" action="~/Index/SacuvajPromenuAmeniti">
                                    <table style="padding:5px 5px 5px 5px;border:1px">
                                        @{ for (int i = 0; i < ViewBag.promena.Count; i++)
                                            {
                                                <tr>
                                                    <td><input type="text" value="@ViewBag.promena[i].Naziv" required name="Naziv_@i" /></td> @if (ViewBag.promena[i].Opis != null)
                                                    {
                                                        <td><input type="text" value="@ViewBag.promena[i].Opis" name="Opis_@i" /></td>}
                                                    else
                                                    {
                                                        <td><input type="text" name="Opis_@i" /></td> }
                                                </tr>
                                            }
                                        }
                                        <tr><td><input type="hidden" value="@ViewBag.kljuc" name="Kljuc" /><input type="submit" value="Save" /></td></tr>
                                    </table>
                                </form>
                                            }
    }
</div>
