﻿
@{
    ViewBag.Title = "ListaApartmana";
}
<head>
    <style>
        .pretraga input {
            min-width: 120px;
            margin-bottom: 20px;
        }
            .pretraga input:hover {
                background-color: #F0F8FF;
            }
        
    </style>
</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Index/VratiUAdmin">Users</a></li>
        <li><a href="~/Index/ListaApartmana">Apartments</a></li>
        <li><a href="~/Index/ListaRezervacije">Reservations</a></li>
        <li><a href="~/Index/ListaAmenities">Amenities</a></li>
    </ul><!-- .menu -->
</nav><!-- .navigation -->
<h2>ListaApartmana</h2>
<table>
    @{
        foreach (Apartman item in ViewBag.Apartmani)
        {
            if (item.Obrisan == false)
            {
                if (item.status == Status.Aktivan)
                {
                    <tr style="background-color:green;width:300px;">
                        <td>
                            @{ if (item.Slike != null)
                                {<img src="@item.Slike[0]" width="200" />
                                }
                            }
                        </td>
                        <td style="vertical-align:middle">
                            <table style="height:100%;">
                                <tr><td>@item.lokacija.adresa.Ulica</td>  </tr>
                                <tr> <td>@item.lokacija.adresa.Mesto , @item.lokacija.adresa.Posta</td></tr>
                                <tr><td>@item.lokacija , @item.lokacija.Sirina</td>  </tr>
                            </table>
                        </td>
                        <td align="center" style="vertical-align:middle">
                            <form method="post" action="~/Index/PromenaStatus">
                                <input type="hidden" name="Id" value="@item.Identifikacija" />
                                <input type="submit" value="@item.status" />
                            </form>
                        </td>
                        <td align="center" style="vertical-align:middle">
                            <form method="post" action="~/Index/ObrisiApartman">
                                <input type="hidden" name="Id" value="@item.Identifikacija" />
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                                }
                                else
                                {
                                    <tr style="background-color:red;width:300px;">
                                        <td>
                                            @{ if (item.Slike != null)
                                                {<img src="@item.Slike[0]" width="200" />
                                                }
                                            }
                                        </td>
                                        <td style="vertical-align:middle">
                                            <table style="height:100%;">
                                                <tr><td>@item.lokacija.adresa.Ulica</td>  </tr>
                                                <tr> <td>@item.lokacija.adresa.Mesto , @item.lokacija.adresa.Posta</td></tr>
                                                <tr><td>@item.lokacija , @item.lokacija.Sirina</td>  </tr>
                                            </table>
                                        </td>
                                        <td align="center" style="vertical-align:middle">
                                            <form method="post" action="~/Index/PromenaStatus">
                                                <input type="hidden" name="Id" value="@item.Identifikacija" />
                                                <input type="submit" value="@item.status" />
                                            </form>
                                        </td>
                                        <td align="center" style="vertical-align:middle">
                                            <form method="post" action="~/Index/ObrisiApartman">
                                                <input type="hidden" name="Id" value="@item.Identifikacija" />
                                                <input type="submit" value="Delete" />
                                            </form>
                                        </td>
                                    </tr>
                                                        }
                                                    }
                                                }

    }
</table>
<div class="dropdown">
    @{
        int p = 0;
        foreach (var item in ViewBag.sadrzaj)
        {

            string pp = p + "px";
            <button class="dropbtn" style="min-width:95px;left:@pp">@item.Key</button>
            <div class="dropdown-content">
                @{
                    foreach (var item1 in item.Value)
                    {
                        <a href="~/Index/FilterListaApartmana?Naziv=@item1.Naziv">@item1.Naziv</a>
                    }
                }

            </div>
                        p = p + 95;
                    }
    }
</div>
<div class="pretraga" style="background-color:black ; color:white;  position:absolute;top:265px;left:80%">

    <form method="post" action="~/Index/PretragaDugmeAdmin">
        Location:<br />
        <input type="text" name="Mesto" />
        <br />
        Price:<br />
        From:<input type="text" name="OdCene" style="max-width:80px" />&nbsp;To:<input type="text" name="DoCene" style="max-width:80px" />
        <br />
        Num of rooms:<br />
        From:<input type="text" name="OdSobe" style="max-width:80px" />&nbsp;To:<input type="text" name="DoSoba" style="max-width:80px" />
        <br />
        Num of guests:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="BrOsoba" style="max-width:80px" />
        <br />
        Sort by price:
        <br /><input type="radio" name="sort" value="yes" /> Raising &nbsp;&nbsp;
        </br><input type="radio" name="sort" value="no" />Failling <br />
        <input type="submit" value="Search" />
    </form>
    <a style="text-decoration:none; color:white; float:left;" href="~/Index/FilterListaApartmana?Naziv=Apartment">Apartment</a>
    <a style="text-decoration:none; color:white;" href="~/Index/FilterListaApartmana?Naziv=Room">Room</a><br>
    <a style="text-decoration:none; color:white; float:left;" href="~/Index/FilterListaApartmana?Naziv=Active">Active</a>
    <a style="text-decoration:none; color:white;" href="~/Index/FilterListaApartmana?Naziv=Unactive">Unactive</a>
</div>