﻿
@{
    ViewBag.Title = "ListaRezervacije";
}
<head>
    <style>
        a {
            float: right;
        }
        .navigation {
            line-height: 1;
        }
            .navigation .menu a, li {
                display: block;
            }
            .navigation .menu a {
                text-decoration: none;
                color: currentColor;
                padding: 1em;
            }
            .navigation .menu li {
                border-style: solid;
                border-width: 0 0 1px;
            }
        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            left: 90px;
            top: 0px;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
                .dropdown-content a:hover {
                    background-color: black;
                    color: white;
                }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover .dropbtn {
            background-color: black;
        }
    </style>
</head>
<div class="dropdown" style="position:absolute;">
    <button class="dropbtn" style="min-width:95px;">Status</button>
    <div class="dropdown-content">
        <a href="~/Index/FilterRezervacija?status=@StatusRezervacije.Odustanak&apartman=@ViewBag.Id">Canceled</a>
        <a href="~/Index/FilterRezervacija?status=@StatusRezervacije.Prihvacena&apartman=@ViewBag.Id">Accepted</a>
        <a href="~/Index/FilterRezervacija?status=@StatusRezervacije.Kreirana&apartman=@ViewBag.Id">Created</a>
        <a href="~/Index/FilterRezervacija?status=@StatusRezervacije.Zavrsena&apartman=@ViewBag.Id">Finished</a>
        <a href="~/Index/FilterRezervacija?status=@StatusRezervacije.Odbijena&apartman=@ViewBag.Id">Rejected</a>
    </div>
</div>
<nav class="navigation">
    <ul class="menu">
        <li><a href="~/Index/VratiUAdmin">Users</a></li>
        <li><a href="~/Index/ListaApartmana">Apartments</a></li>
        <li><a href="~/Index/ListaAmenities">Amenities</a></li>
    </ul><!-- .menu -->
</nav><!-- .navigation -->
<div style="position:absolute;top:70px;left:40px">
    <table>
        @{if (ViewBag.rezervacija != null)
            {
                for (int i = 0; i < ViewBag.rezervacija.Count; i++)
                {
                    <tr>
                        <td>Username: @ViewBag.rezervacija[i].Gost</td>
                        <td>Begining of booking: @ViewBag.rezervacija[i].Pocetak.ToString("dd/MM/yyyy") </td>
                        <td>Nummber of nights: @ViewBag.rezervacija[i].Nocenje </td>
                        <td>Price: @ViewBag.rezervacija[i].UkupnaCena</td>
                        <td>
                            @{if (ViewBag.opcija[i] == 1)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Created</button>
                                        <div class="dropdown-content">
                                            <a href="~/Index/PrStatusaRezervacije?vrednost=Odbijena&id=@ViewBag.rezervacija[i].ID">Reject</a>
                                            <a href="~/Index/PrStatusaRezervacije?vrednost=Prihvacena&id=@ViewBag.rezervacija[i].ID">Accept</a>
                                        </div>
                                    </div>
                                }
                                else if (ViewBag.opcija[i] == 2)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Accepted</button>
                                        <div class="dropdown-content">
                                            <a href="~/Index/PrStatusaRezervacije?vrednost=Odbijena&id=@ViewBag.rezervacija[i].ID">Reject</a>
                                        </div>
                                    </div>
                                }
                                else if (ViewBag.opcija[i] == 3)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Rejected</button>
                                        <div class="dropdown-content">
                                        </div>
                                    </div>
                                }
                                else if (ViewBag.opcija[i] == 4)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Canceled</button>
                                        <div class="dropdown-content">
                                        </div>
                                    </div>
                                }
                                else if (ViewBag.opcija[i] == 5)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Accepted</button>
                                        <div class="dropdown-content">
                                            <a href="~/Index/PrStatusaRezervacije?vrednost=Zavrsena&id=@ViewBag.rezervacija[i].ID">Finished</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Finished</button>
                                        <div class="dropdown-content">

                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                                    }
                                }
        }
    </table>
    <form action="~/Index/PretragaRezervacijeAdmin" method="post">
        <input type="text" name="Tekst" style="width:400px;height:60px" />
        <input type="submit" value="Search" />
    </form>
</div>

