﻿
@{
    ViewBag.Title = "Pocetna";
}
<head>
    <style>
        img {
            position: relative;
            width: 100%;
            height: 100%;
        }
        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .register {
            margin-top: 10px;
            position: absolute;
            top: 62%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            color: black;
            padding: 1em 1.5em;
            text-decoration: none;
            text-transform: uppercase;
        }
            .register:hover {
                text-decoration: none;
                color: black;
                background-color: #ce0606;
            }
        .apartments {
            margin-top: 10px;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            color: black;
            padding: 1em 1.5em;
            text-decoration: none;
            text-transform: uppercase;
        }
            .apartments:hover {
                text-decoration: none;
                color: black;
                background-color: #ce0606;
            }
        .error-message {
            color: black;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<img src="~/Picture/bg.jpg" />
@{
    if (ViewBag.Registering == "Login to continue!")
    {
        <h5 style="color:white">Login to continue!</h5>
    }
}
@{
    if (ViewBag.Pogresno == "Invalid username/password!")
    {
        <p class="error-message">Invalid username/password!</p>
    }
}
@{
    if (ViewBag.Izlogovati == "Accept")
    {
        <p style="color:white">Plese, logout first!</p>
        <form method="post" action="~/Index/LogOut">
            <input type="submit" name="Submit" value="LogOut" />
            <input type="hidden" name="opcija" value="Admin" />
        </form>
    }
}
<form method="post" action="~/Index/Login">
    <table style="margin-top:30px;" align="center">
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input type="text" name="Korisnicko_ime" placeholder="Type in your name" required/>
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" id="IdLozinke" name="Lozinka" placeholder="Type in your password" required/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                
                <input name="Check" type="checkbox" value="Show password" onclick="myFunction()" />
                <label for="Check">Show password</label>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="submit" name="Submit" value="Login" />
            </td>
        </tr>
    </table>
</form>
<br />
<br />
<br />
<div align="center">
    <a class="register" href="~/Index/Register?Id=">Register</a>
</div>
<div align="center">
    <a class="apartments" href="~/Index/Apartmani">Apartmani</a>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("IdLozinke");
        if (x.type == "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
</script>

