﻿
@{
    ViewBag.Title = "Register";
}
<head>
    <style>
        img {
            position: relative;
            width: 100%;
            height: 100%;
        }
        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<img src="~/Picture/bg.jpg" />
<form method="post" action="~/Index/Registruj">
    <table align="center">
        <tr>
            <td>
                Username
            </td>
            <td>
                <input placeholder="Type in your username" type="text" name="Korisnicko_ime" required/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" placeholder="Type in your password" name="Lozinka" required/></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" placeholder="Type in your name" name="Ime" required/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" placeholder="Type in your last name" name="Prezime" required/></td>
        </tr>
        <tr>
            <td>Choose your gender</td>
            <td>
                <select name="Pol">
                    <option value="Musko">Man</option>
                    <option value="Zensko">Woman</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="submit" value="Register" /></td>
        </tr>
    </table>
</form>
@{
    if (ViewBag.Adminski == "Accept")
    {
        <div align="center">
            <a class="register" href="~/Index/VracanjeUAdmin">Back</a>
        </div>
    }
    else
    {
        <div align="center">
            <a class="register" href="~/Index/Pocetna">Back</a>
        </div>
    }
}

