﻿a {
    float: right;
}

.navigation {
    line-height: 1;
}

    .navigation .menu a, li {
        display: block;
    }

    .navigation .menu a {
        text-decoration: none;
        color: currentColor;
        padding: 1em;
    }

    .navigation .menu li {
        border-style: solid;
        border-width: 0 0 1px;
    }

.dugmad {
    min-width: 120px;
    margin-bottom: 20px;
}

    .dugmad:hover {
        background-color: #ce0606;
    }

.register {
    margin-top: 10px;
    position: absolute;
    float: none;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

    .register:hover {
        text-decoration: none;
        color: black;
        background-color: #ce0606;
    }
select,
textarea {
    max-width: 280px;
}

.dropbtn {
    background-color: #202020;
    color: white;
    padding: 16px;
    padding-top:2px;
    font-size: 16px;
    border: none;
}

.dropdown {
    overflow: hidden;
    background-color: #202020;
    position: fixed;
    top: 0;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: static;
    left: 95px;
    top: 0px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        padding-top: 2px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: gray;
        }

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

.dropdown:hover .dropbtn {
    background-color: #606060;
}